name: Jekyll site CI

on:
  push:
    branches:
      - main
      - master
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.1
        bundler-cache: true
    
    - name: Build with Jekyll
      run: bundle exec jekyll build
      env:
        JEKYLL_ENV: production
    
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: site
        path: _site
